/* Font | Mukta */
/* License: ../fonts/Mukta/LICENSE */
/* Style = Normal */
@font-face {
  font-family: "Mukta";
  src: url("../fonts/Mukta/Mukta-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Mukta";
  src: url("../fonts/Mukta/Mukta-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mukta";
  src: url("../fonts/Mukta/Mukta-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Font | OpenDyslexic */
/* License: ../fonts/OpenDyslexic/LICENSE */
/* Style = Normal */
@font-face {
  font-family: "OpenDyslexic";
	font-style: normal;
	font-weight: 400;
  src: url("../fonts/OpenDyslexic/OpenDyslexic-Regular.otf") format("opentype");
}
@font-face {
  font-family: "OpenDyslexic";
	font-style: normal;
	font-weight: 700;
  src: url("../fonts/OpenDyslexic/OpenDyslexic-Bold.otf") format("opentype");
}
